:root {
    --main-radius: 5px;
    --main-top: 5px;
}

body {
    font-family: "Italic", sans-serif;
}

.container {
display: grid;
height: 100vh;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer"
    "link link link link";
grid-gap: 10px;
text-align: center;
text-transform: uppercase;
font-size: 12px;
font-weight: 800;
color: #fff;

}

nav {
    grid-area: nav;
    padding-top: var(--main-top);
    border-radius: var(--main-radius);
    background: rgb(128, 31, 31);;
}

main {
    grid-area: main;
    padding-top: var(--main-top);
    border-radius: var(--main-radius);
    background: rgb(136, 42, 100);;
}

#sidebar {
    grid-area: sidebar;
    padding-top: var(--main-top);
    border-radius: var(--main-radius);
    background: rgb(18, 145, 117);;
}


#content1 {
    grid-area: content1;
    padding-top: var(--main-top);
    border-radius: var(--main-radius);
    background: rgb(128, 31, 31);;
}

#content2 {
    grid-area: content2;
    padding-top: var(--main-top);
    border-radius: var(--main-radius);
    background: rgb(100, 141, 23);;
}

#content3 {
    grid-area: content3;
    padding-top: var(--main-top);
    border-radius: var(--main-radius);
    background: rgb(128, 31, 31);;
}

footer {
    grid-area: footer;
    padding-top: var(--main-top);
    border-radius: var(--main-radius);
    background: rgb(128, 31, 44);;
}

a {
    grid-area: link;
    padding-top: var(--main-top);
    border-radius: var(--main-radius);
    background: rgb(128, 31, 44);;
}