:root {
    --main-top: 5px;
    --main-margin: 5px;
    --main-radius: 10px;
}

.container {
    height: 100vh;
    display:grid;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.8fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar container1 container2 container3"
    "sidebar footer footer footer"
    "link link link link";
    grid-gap: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    grid-area: nav;
    margin: var(--main-padding);
    padding-top: var(--main-padding);
    background-color: rgb(91, 163, 42);
    border-radius: var(--main-radius);
}

main {
    grid-area: main;
    margin: var(--main-padding);
    padding-top: var(--main-padding);
    background-color: rgb(41, 70, 165);
    border-radius: var(--main-radius);
}

.sidebar {
    grid-area: sidebar;
    margin: var(--main-padding);
    padding-top: var(--main-padding);
    background-color: brown;
    border-radius: var(--main-radius);
}

.container1 {
    grid-area: container1;
    margin: var(--main-padding);
    padding-top: var(--main-padding);
    background-color: brown;
    border-radius: var(--main-radius);
}

.container2 {
    grid-area: container2;
    margin: var(--main-padding);
    padding-top: var(--main-padding);
    background-color: brown;
    border-radius: var(--main-radius);
}

.container3 {
    grid-area: container3;
    margin: var(--main-padding);
    padding-top: var(--main-padding);
    background-color: brown;
    border-radius: var(--main-radius);
}

footer {
    grid-area: footer;
    margin: var(--main-padding);
    padding-top: var(--main-top);
    background-color:cornflowerblue;
    border-radius: var(--main-radius);
}

a {
    grid-area: link;
    margin: var(--main-padding);
    padding-top: var(--main-top);
    background-color:cornflowerblue;
    border-radius: var(--main-radius); 
}