body {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

.header {
    width: 76%;
    height: 60px;
    padding: 20px;
    margin-left: 0px;
    border: 2px solid #81D4FA;
    background-color : #E1F5FE;
    display: flex;
}

.left-nav {
    width: 40%;
    height: 200px;
    margin-top: 20px;
    position: absolute;
}

.first-left-nav {
	width: 40%;
	height: 160px;
	background-color: red;
    border: 2px solid #99fa81;
}

.second-left-nav {
    width: 40%;
    height: 160px;
    background-color:crimson;
    margin-top: 30px;
    border: 2px solid #99fa81;
}

.right-nav {
    width: 16%;
    height: 620px;
    float: right;
    margin-top: -105px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

.footer {
    width: 79%;
    height: 120px;       
    bottom: 0px;
    margin-top: 50px;
    background-color:burlywood;
    border: 2px solid #99fa81;
}


.circle-parent {
 width: 25%;
 height: 350px;
 background-color:#99fa81;
 border-radius: 50%;
 margin-top: 30px;
 position: relative;
 margin: 0 auto;
}

.circle-child {
    width: 45%;
    height: 150px;
    background-color:white;
    border-radius: 50%;
    transform: translate(60%, 60%);
}
